.DS_Store
.virtual_documents
.dvc/
__pycache__/
catboost_info/
*egg-info/

# Jupyter Notebook
.ipynb_checkpoints
archive.ipynb

# IPython
profile_default/
ipython_config.py

# Checkpoints
*.safetensors

# Data
data/
*.csv
*.xlsx
*.png
*.jpg
*.jpeg
*.mp4
*.json
*.tar
